In [ ]:
import pandas as pd

In [ ]:
dataset = "teste" #ou real

df_limpeza = pd.read_csv("..\\01_bronze\\Metro_Interstate_Traffic_Volume.csv")

display(df_limpeza)

,holiday,temp,rain_1h,snow_1h,clouds_all,weather_main,weather_description,date_time,traffic_volume
0,NaN,288.28,0.0,0.0,40,Clouds,scattered clouds,2012-10-02 09:00:00,5545
1,NaN,289.36,0.0,0.0,75,Clouds,broken clouds,2012-10-02 10:00:00,4516
2,NaN,289.58,0.0,0.0,90,Clouds,overcast clouds,2012-10-02 11:00:00,4767
3,NaN,290.13,0.0,0.0,90,Clouds,overcast clouds,2012-10-02 12:00:00,5026
4,NaN,291.14,0.0,0.0,75,Clouds,broken clouds,2012-10-02 13:00:00,4918
...,...,...,...,...,...,...,...,...,...
48199,NaN,283.45,0.0,0.0,75,Clouds,broken clouds,2018-09-30 19:00:00,3543
48200,NaN,282.76,0.0,0.0,90,Clouds,overcast clouds,2018-09-30 20:00:00,2781
48201,NaN,282.73,0.0,0.0,90,Thunderstorm,proximity thunderstorm,2018-09-30 21:00:00,2159
48202,NaN,282.09,0.0,0.0,90,Clouds,overcast clouds,2018-09-30 22:00:00,1450
48203,NaN,282.12,0.0,0.0,90,Clouds,overcast clouds,2018-09-30 23:00:00,954

Index(['holiday', 'temp', 'rain_1h', 'snow_1h', 'clouds_all', 'weather_main',
       'weather_description', 'date_time', 'traffic_volume'],
      dtype='object')

In [27]:
df_limpeza['date_time'] = pd.to_datetime(df_limpeza['date_time'])
df_limpo = df_limpeza[(df_limpeza['date_time'] >= '2012-01-01') & (df_limpeza['date_time'] < '2014-01-01')]

display(df_limpo)

,holiday,temp,rain_1h,snow_1h,clouds_all,weather_main,weather_description,date_time,traffic_volume
0,NaN,288.28,0.0,0.0,40,Clouds,scattered clouds,2012-10-02 09:00:00,5545
1,NaN,289.36,0.0,0.0,75,Clouds,broken clouds,2012-10-02 10:00:00,4516
2,NaN,289.58,0.0,0.0,90,Clouds,overcast clouds,2012-10-02 11:00:00,4767
3,NaN,290.13,0.0,0.0,90,Clouds,overcast clouds,2012-10-02 12:00:00,5026
4,NaN,291.14,0.0,0.0,75,Clouds,broken clouds,2012-10-02 13:00:00,4918
...,...,...,...,...,...,...,...,...,...
11127,NaN,248.13,0.0,0.0,1,Clear,sky is clear,2013-12-31 19:00:00,4504
11128,NaN,247.66,0.0,0.0,1,Clear,sky is clear,2013-12-31 20:00:00,3478
11129,NaN,248.63,0.0,0.0,1,Clear,sky is clear,2013-12-31 21:00:00,2711
11130,NaN,248.39,0.0,0.0,40,Clouds,scattered clouds,2013-12-31 22:00:00,2189
11131,NaN,249.89,0.0,0.0,90,Clouds,overcast clouds,2013-12-31 23:00:00,1457

In [ ]:
df_limpeza.to_csv(f"./dataset-{dataset}/dataset-{dataset}-limpo.csv", index=False)